{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <div class="content-wrapper d-flex align-items-start px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-8 mx-auto">
                <div class="text-left py-2 px-4 px-sm-5">
                    <h2>Titulo:<br></h2>
                    <h3 class="ml-5 text-justify">    
                    {{ article['metadata']['title'] if article['metadata']['title'] != '' else 'N/A' }}
                    </h3>
                    <hr>
                    <p class="article-body text-justify font-italic">
                        {% for paragraph in article['abstract'] %}
                        {{ paragraph['text'] }}
                        <br><br>
                        {% endfor %}
                    </p>
                    <p class="article-body text-justify">
                        {% for paragraph in article['body_text'] %}
                        {{ paragraph['text'] }}
                        <br><br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
